<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogFile="../Logs/internal.log"
      internalLogLevel="Info">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name='solutionFolder' value='../../../..'/>
	<variable name='logDirectory' value='${solutionFolder}/Logs'/>

	<targets async="True">
		<target name="all_logs_file" xsi:type="File" fileName="${logDirectory}/all-logfile-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} ${exception}"/>
		<target name="important_logs_file" xsi:type="File" fileName="${logDirectory}/important-logfile-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} ${exception}"/>
		<target name="console" xsi:type="Console" layout="${longdate} | ${uppercase:${level}} | ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="all_logs_file" />
		<logger name="*" minlevel="Warn" writeTo="important_logs_file" />
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>